
body{
    text-align: center;
    background-image: url("https://i.ibb.co/grssCJT/1683259758835.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center ;
    
}
h1{
    font: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 0;
}
img{
    border-radius: 100px;
}
form{
    font-size: medium;
    color: #000000;
}  
.rate {
    float:left;
    height: 46px;
    padding: 0 100px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#000000;
}
.rate:not(:checked) > label:before {
    content: 'â¤ ';
}
.rate > input:checked ~ label {
    color: #f00505;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #f00505;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #f00505;
}
/* @media screen and (max-width: 1440px) and (min-width:320px){ 
    body{
        font-size: 80px;
        background-image: url("/Users/Vedhas Ranade/Desktop/web_dev/s1.jpeg");
    }
} */