body{
    /* background-image: linear-gradient(rgb(0, 140, 255),rgb(62, 216, 62)); */
    background-image: url("https://i.ibb.co/grssCJT/1683259758835.jpg"); 
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
title{
    padding-top: 60px;
    color: rgb(206, 206, 240);
}
h1{
    padding-top: 50px;
}
form{
    padding-top: 60px;
}
img{
    border-radius: 200px;
}
